{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}

{{outlet}}
<header>
  <div class="row" id="myheader">
    <div class="col-md-5 col-md-offset-4">
      <h2>Bustle</h2>
    </div>
  </div>
</header>
