{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}

{{outlet}}
<header>
  <div class="row" id="myheader">
    <div class="col-md-1 col-xs-1 col-md-offset-1 col-xs-offset-1">
      <div id="menuicon-container">
        <div id="menuicon"></div>
        <div id="menuicon"></div>
        <div id="menuicon"></div>
      </div>
    </div>
    <div class="col-md-5 col-xs-5 col-md-offset-3 col-md-offset-3">
      <h2>Bustle</h2>
    </div>
  </div>
</header>
<body>
  <div class="row" id="menuform">
    <div class="col-md-4 col-xs-12" id="writtenform">
      <div class="row">
        <p><span class="col-md-offset-1 col-xs-offset-1">X</span></p>
      </div>
      <div class="row" id="content1-in-menuform">
        <div class="row">
          <div class="">
            <p>HOMEPAGE</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>NEWS</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>ENTERTAINMENT</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>BEAUTY</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FASHION</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>LIFESTYLE</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>BOOKS</p>
          </div>
        </div>
        <div class="row" >
          <div class="">
            <p>FLOW CHARTS</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>THE FLOW STYLE EDIT</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>TECH</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FOOD</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FEATURES</p>
          </div>
        </div>
      </div>
    <div class="row" id="content2-in-menuform">
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">COMPANY</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">ABOUT</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">ADVERTISE</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">APPS</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">LABS</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">TERMS</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">PRIVACY</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">DMCA</p>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">CONTACT US</p>
      </div>
      <div class="row">
        <div class=" col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" id="mediacontent">
          <div class="col-md-4 col-xs-4" id="followus">
            <p >Follow us</p>
          </div>
          <div class="col-md-1 col-xs-1" id="facebooktag">
            <p><span class=""></span></p>
          </div>
          <div class="col-md-1 col-xs-1" id="twittertag">
            <p><span class=""></span></p>
          </div>
          <div class="col-md-1 col-xs-1" id="pinteresttag">
            <p><span class=""></span></p>
          </div>
          <div class="col-md-1 col-xs-1" id="istagramtag">
            <p><span class=""></span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-offset-1 col-xs-offset-1">@ 2017 Bastle</p>
      </div>
    </div>
  </div>
    <div class="col-md-8 col-xs-8" id="plainform">
    </div>
  </div>
</body>
