{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}

{{outlet}}
<header>
  <div class="row" id="myheader">
    <div class="col-md-1 col-xs-1 col-md-offset-1 col-xs-offset-1">
      <span class="glypicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="col-md-5 col-xs-5 col-md-offset-3 col-md-offset-3">
      <h2>Bustle</h2>
    </div>
  </div>
</header>
<body>
  <div class="row" id="menuform">
    <div class="col-md-6 col-xs-12" id="writtenform">
      <div class="row">
        <p><span class="col-md-offset-1 col-xs-offset-1">X</span></p>
      </div>
      <div class="row" id="content1-in-menuform">
        <div class="row">
          <div class="">
            <p>HOMEPAGE</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>NEWS</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>ENTERTAINMENT</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>BEAUTY</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FASHION</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>LIFESTYLE</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>BOOKS</p>
          </div>
        </div>
        <div class="row" >
          <div class="">
            <p>FLOW CHARTS</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>THE FLOW STYLE EDIT</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>TECH</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FOOD</p>
          </div>
        </div>
        <div class="row">
          <div class="">
            <p>FEATURES</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="content2-in-menuform">
      <div class="row">
        <p>COMPANY</p>
      </div>
      <div class="row">
        <p>ABOUT</p>
      </div>
      <div class="row">
        <p>ADVERTISE</p>
      </div>
      <div class="row">
        <p>APPS</p>
      </div>
      <div class="row">
        <p>LABS</p>
      </div>
      <div class="row">
        <p>TERMS</p>
      </div>
      <div class="row">
        <p>PRIVACY</p>
      </div>
      <div class="row">
        <p>DMCA</p>
      </div>
      <div class="row">
        <p>CONTACT US</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4" id="followus">
          <p>Follow us</p>
        </div>
        <div class="col-md-2 col-xs-2" id="facebooktag">
          <p><span class=""></span></p>
        </div>
        <div class="col-md-2 col-xs-2" id="twittertag">
          <p><span class=""></span></p>
        </div>
        <div class="col-md-2 col-xs-2" id="pinteresttag">
          <p><span class=""></span></p>
        </div>
        <div class="col-md-2 col-xs-2" id="istagramtag">
          <p><span class=""></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-8">
    </div>
  </div>
</body>
